.location {
  padding: 3rem 3rem;
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(5, 1fr);

  @media (min-width: 1300px) {
    & {
      padding: 3rem 9rem;
    }
  }

  &__featureBar {
    display: flex;
    justify-content: space-between;
    grid-column-start: 1;
    grid-column-end: 6;
  }

  &__header {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 2rem;
  }

  &__table {
    grid-column-start: 5;
    grid-column-end: 6;
  }

  &__map-container {
    grid-column-start: 1;
    grid-column-end: 5;
    aspect-ratio: 2/1;
    outline: 1px solid #c2c2c2;
  }
}
