.location {
  padding: 3rem 9rem;
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(5, 1fr);

  &__featureBar {
    display: flex;
    justify-content: space-between;
    grid-column-start: 1;
    grid-column-end: 6;
  }

  &__header {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 2rem;
  }

  &__map-container {
    grid-column-start: 3;
    grid-column-end: 6;
    aspect-ratio: 2/1.5;
    outline: 1px solid #c2c2c2;
  }
}
